body{
	font-size: 16px;
	font-family: 'Cuprum', sans-serif;
}
h1{
	font-size: 28px;
	text-align: center;
}
.container {
	max-width: 800px;
	width: 98%;
	padding: 0 2% 5% 2%;
	margin: 0 auto;
}
img{
	width: 186px;
	height: 186px;
}
.img1{
	width: 22%;
	height: auto;

}
.img2{
	width: 22%;
	height: auto;
}
.img3{
	width: 22%;
	height: auto;
}
.img4{
	width: 22%;
	height: auto;
}