.container {
	max-width: 800px;
	width: 100%;
	margin: 0 auto;
	padding: 0 10px 50px 10px;
	position: absolute;
}
img{
	position: absolute;
}
.img1{
	width: 24%;
	left: 5%;
  top: 35%;
}
.img2{
	width: 24%;
	top: 35%;
	left: 35%;
	
}
.img3{
	width: 24%;
	left: 65%;
  top: 35%;
}
.img4{
	width: 24%;
	top: 35%;
  left: 95%;
}